$violet_color: #6f2dbd;
$gray_color: #cccccc;
$bg_color: #f3f3f3;
$siren_color: #efe9f4;
$black_color: #1f1f1f;
$red_color: #ff5252;
$yellow_color: #f7dd81;
$blue_color: #8eddff;
$yellow-pink_color: #ff785a;
